.navigation-item
  border-top: 1px #dfdfdf solid

.navigation-item-title
  margin-left: 10px
  margin-top: 10px
  margin-bottom: 5px

.home-title
  font-size: 25px
  width: 100%
  text-align: center
  margin-top: 200px